<h4>Welcome to the Cubberley Historical Curriculum Resource Collection</h4>
<p>Cubberley Education Library has a collection of historical curriculum materials and instructional guides published by national, state and local boards, departments of education, as well as other groups devoted to improving instruction.  Request materials in advance for use in the library.</p>
<p>This database is under construction with new records being added on a regular basis.  For requests or information contact us at 650-723-2121 or <a href="mailto:cubberley@stanford.edu">cubberley@stanford.edu.</a></p>
<p>&nbsp;</p>
<h3>Collection Highlights</h3>
<div id="googft-mapCanvas"></div>
  <input id="googft-legend-open" style="display:none" type="button" value="Legend"></input>
  <div id="googft-legend">
    <p id="googft-legend-title">Number of Records in Collection</p>
    <div>
      <img class="googft-paddle-icon" src="http://maps.google.com/mapfiles/ms/micons/yellow-dot.png"/>
      <span class="googft-legend-range">1 to 50</span>
    </div>
    <div>
      <img class="googft-paddle-icon" src="http://maps.google.com/mapfiles/ms/micons/green-dot.png"/>
      <span class="googft-legend-range">50 to 100</span>
    </div>
    <div>
      <img class="googft-paddle-icon" src="http://maps.google.com/mapfiles/ms/micons/purple-dot.png"/>
      <span class="googft-legend-range">100 to 200</span>
    </div>
    <div>
      <img class="googft-paddle-icon" src="http://maps.google.com/mapfiles/ms/micons/red-dot.png"/>
      <span class="googft-legend-range">200 to 1,500</span>
    </div>
    <input id="googft-legend-close" style="display:none" type="button" value="Hide"></input>
  </div>
