<h4>Welcome to the Cubberley Historical Curriculum Resource Collection</h4>
<p>&nbsp;</p>
<p>KK to put her description here.</p>
    <script>
  function initialize() {
  var map_canvas = document.getElementById('map_canvas');
    var mapOptions = {
    	center: new google.maps.LatLng(40.0000,100.0000),
    	zoom: 8,
    	mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      // Styles to desaturate and hide roads on map
      var styles = [
{
  "featureType": "landscape",
  "stylers": [
      { "visibility": "simplified" },
      { "lightness": -5 },
      { "hue": "#ffaa00" },
      { "saturation": -90 }
    ]
  },{
  "featureType": "water",
  "stylers": [
      { "visibility": "on" },
      { "saturation": -60 },
      { "lightness": -1 }
    ]
  },{
    "featureType": "road",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "administrative.country",
    "stylers": [
      { "visibility": "off" }
    ]
  }
];

          var map = new google.maps.Map(map_canvas), options );
      map.setOptions({styles: styles});

      var markers = [];
        markers[0] = new google.maps.Marker({
          position: new google.maps.LatLng(37.0000,120.0000),
          icon: "/assets/google-maps-icon-red-hi.png",
          map: map,url:"/en/catalog?f%5Bstate_country_facet%5D%5B%5D=California",
          title:"California"});

        google.maps.event.addListener(markers[0], 'click', function() {window.location.href = this.url;});
        markers[1] = new google.maps.Marker({
          position: new google.maps.LatLng(40.6700,73.9400),
          icon: "/assets/google-maps-icon-red-hi.png",
          map: map,url:"/en/catalog?f[state_country_facet][]=New+York",
          title:"New York"});

        google.maps.event.addListener(markers[1], 'click', function() {window.location.href = this.url;});
        
    });
  </script>

<div id="map_canvas"></div>